/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2014, 5:13:00 PM
    Author     : nosovj
*/

$topbar : 85;
$bottombar: 160;
$leftbar: 150;
@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

html, body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0px; 
    background-color: black; 
}

canvas { 
    width: 100%; 
    //  height: $topbar + px;
}

/** {cursor: none;}*/



#instructions {

    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    text-align: center;

    cursor: pointer;
}


#middle {
    width: 100%;
    @include calc( height, '100% - '+($bottombar + $topbar)+'px');
    #left {
        width: $leftbar +px;
        float:left;
        background-color: orange;
        height: 100%;
        overflow: overlay;
    }
    #center {
        background-color: black;
        height: 100%;
        canvas {

        }
    }

}

#gui {
    width: 100%;
    nav {
        height:$topbar;
        width: 100%;
        background-color: red;
/*        #nav {
            width: 100%;
        }
        * {
            display: inline-block;
            vertical-align: middle;
        }*/
    }
}

#bottom { background-color: wheat; height: $bottombar } 
